/* 
 * Copyright (c) 2023 Simon Brenninger
 *
 * SPDX-License-Identifier: GPLv3
 */

my_spi: &spi1 {
    compatible = "nordic,nrf-spi";
    status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;

	my_spi_dev: spi-device@0 {
		reg = <0>;
	};
};