/*
 * Copyright (c) 2018 Nordic Semiconductor ASA
 * Copyright (c) 2017 Shawn Nock <shawn@monadnock.ca>
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52810_qfaa.dtsi>
#include "smartWatch-pinctrl.dtsi"

/ {
	model = "smartWatch";
	compatible = "nordic,smartWatch";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
			label = "Red Debug LED";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			label = "Push button switch 0";
			gpios = <&gpio0 20 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		button1: button_1 {
			label = "Push button switch 1";
			gpios = <&gpio0 18 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		button2: button_2 {
			label = "Gyro Interrupt";
			gpios = <&gpio0 10 (GPIO_ACTIVE_LOW)>;
		};
	};

	custum_pins {
		compatible = "gpio-keys";
		gyroInt: gyro_int {
			label = "Gyroscope interrupt signal";
			gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH)>;
		};
		csIOExpander: cs_io_expander {
			label = "IO Expander Chip-Select (CS)";
			gpios = <&gpio0 12 (GPIO_ACTIVE_HIGH)>;
		};
		batsens: bat_sens {
			label = "Battery Voltage";
			gpios = <&gpio0 28 (GPIO_ACTIVE_HIGH)>;	// ANALOG
		};
		photo: photo_sens {
			label = "Phototransistor input";
			gpios = <&gpio0 30 (GPIO_ACTIVE_HIGH)>; // ANALOG
		};

	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		btn0 = &button0;
		btn1 = &button1;

		gyro-int = &gyroInt;
		cs-io = &csIOExpander;
		bat = &batsens;
		photo = &photo;
		
		bootloader-led0 = &led0;
		mcuboot-button0 = &button0;
		mcuboot-led0 = &led0;
		watchdog0 = &wdt0;
	};
};

&adc {
	status = "okay";
	//pincntr-0 = <&adc0_default>;
	//pinctr-names = "default";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};

&spi0 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0xd000>;
		};
		slot1_partition: partition@19000 {
			label = "image-1";
			reg = <0x00019000 0xd000>;
		};
		scratch_partition: partition@26000 {
			label = "image-scratch";
			reg = <0x00026000 0x3000>;
		};
		storage_partition: partition@29000 {
			label = "storage";
			reg = <0x00029000 0x00007000>;
		};
	};
};
